body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}

.tabela-container {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

#container-pai {
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grupo-de-input {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#grupo-de-input label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
}

#grupo-de-input input[type="text"],
#grupo-de-input p-calendar,
#grupo-de-input p-dropdown,
#grupo-de-input .p-inputtext,
#grupo-de-input .p-inputmask {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}

p-button {
  margin-left: 20px;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
}

p-button button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007ad9;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}


#botao {
  display: flex;
  justify-content: center;
  flex-direction: start;
}

@media (max-width: 600px) {
  body {
    height: 100vh; 
  }
  
  #container-pai {
    width: 100%;
    height: 100%; 
  }
  
  #container {
    padding: 20px;
    width: 100%;
    height: 100%; 
    box-shadow: none; 
    border-radius: 0; 
  }
  #butao {
    max-width: 600px;
  }
  p-button {
    width: 100%;
    width: 100px;
    height: 60px;
  }
}