<div class="tabela-container">
  <p-table [value]="agendamentos">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome Completo</th>
        <th>Data de Nascimento</th>
        <th>Número de Telefone</th>
        <th>Bairro</th>
        <th>Rua</th>
        <th>Número da Casa</th>
        <th>Dia da Consulta</th>
        <th>Horário da Consulta</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-agendamento>
      <tr>
        <td>{{ agendamento.nome }}</td>
        <td>{{ agendamento.dataNascimento }}</td>
        <td>{{ agendamento.numeroTelefone }}</td>
        <td>{{ agendamento.bairro }}</td>
        <td>{{ agendamento.rua }}</td>
        <td>{{ agendamento.numero }}</td>
        <td>{{ agendamento.dia }}</td>
        <td>{{ agendamento.hora }}</td>
      </tr>
    </ng-template>
  </p-table>

  <button id="voltar"
    style="
      margin-top: 20px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #007ad9;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
    "
    (click)="voltar()"
  >
    Voltar
  </button>
</div>
