
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
     background: linear-gradient(180deg, #1e293b 0%, #0f172a 100%);
}
